{#
SPDX-FileCopyrightText: 2024 ThysTips <contact@thystips.net>
SPDX-FileCopyrightText: 2024 Weytop
SPDX-FileContributor: ThysTips <contact@thystips.net>

SPDX-License-Identifier: CC0-1.0
#}
DOMAIN="{{ oncall_external_url }}"
EXTERNAL_PORT="{{ oncall_published_port }}"

GRAFANA_API_URL="{{ oncall_grafana_api }}"

SECRET_KEY="{{ oncall_secret }}"

MYSQL_PASSWORD="{{ oncall_mysql_password }}"
RABBITMQ_PASSWORD="{{ oncall_rabbitmq_password }}"

{% if oncall_metrics_enabled %}
FEATURE_PROMETHEUS_EXPORTER_ENABLED=True
PROMETHEUS_EXPORTER_SECRET="{{ oncall_metrics_secret }}"
{% endif %}