[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voluptuous = "*"
pyyaml = "*"
pathspec = "*"
packaging = "*"
jmespath = "*"
ansible-core = "*"
ansible = "*"

[dev-packages]
reuse = "*"
ansible-lint = "*"
yamllint = "*"

[requires]
python_version = "3.12"
