{#
SPDX-FileCopyrightText: 2024 ThysTips <contact@thystips.net>
SPDX-FileCopyrightText: 2024 Weytop
SPDX-FileContributor: ThysTips <contact@thystips.net>

SPDX-License-Identifier: GPL-3.0-or-later
#}

# {{ ansible_managed }}
{% for nameserver in systemd_resolved_replace_dns_list %}
nameserver {{ nameserver }}
{% endfor %}
{% if systemd_resolved_replace_search | default([]) | length > 0 %}
search {{ systemd_resolved_replace_search | join(' ') }}
{% endif %}
{% if systemd_resolved_replace_domain | default('') | length > 0 %}
domain {{ systemd_resolved_replace_domain }}
{% endif %}
