{#
SPDX-FileCopyrightText: 2024 ThysTips <contact@thystips.net>
SPDX-FileCopyrightText: 2024 Weytop
SPDX-FileContributor: ThysTips <contact@thystips.net>

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ansible_managed | comment }}

# Minio local/remote volumes.
MINIO_VOLUMES="{{ __minio_volumes }}"

# Minio cli options.
MINIO_OPTS="{% if minio_config_dir %}--config-dir {{ minio_config_dir }}{% endif %} --address {{ minio_server_addr }} {% if minio_console_addr %} --console-address {{ minio_console_addr }}{% endif %} {{ minio_server_opts }}"

# Root User of the server.
MINIO_ROOT_USER="{{ minio_root_user }}"
# Root Password of the server.
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"

{% if minio_region|length > 0 %}
# Region to use
MINIO_REGION="{{ minio_region }}"
{% endif %}

{% if minio_storage_class_standard is defined and minio_storage_class_standard %}
# storage class parity settings
MINIO_STORAGE_CLASS_STANDARD="{{ minio_storage_class_standard }}"
{% endif %}
{% if minio_storage_class_rrs is defined and minio_storage_class_rrs %}
MINIO_STORAGE_CLASS_RRS="{{ minio_storage_class_rrs }}"
{% endif %}

{% if minio_server_url is defined and minio_server_url %}
MINIO_SERVER_URL="{{ minio_server_url }}"
{% endif %}

{% if minio_browser_redirect_url is defined and minio_browser_redirect_url %}
MINIO_BROWSER_REDIRECT_URL="{{ minio_browser_redirect_url }}"
{% endif %}

{{ minio_server_env_extra }}
